logs/api.log
seeds
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/

# Django
db.sqlite3
/staticfiles/
/media/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
